Django==1.9.6
Pillow==3.2.0
django-admin-bootstrapped==2.5.7
django-analytical==2.2.1
django-annoying==0.9.0
django-ckeditor==5.0.3
django-ckeditor-updated==4.4.4
django-debug-toolbar==1.11.1
django-extensions==1.6.7
django-scheduler==0.8
django-simple-captcha==0.5.1
djangorestframework==3.5.3
easy-thumbnails==2.2
geopy==1.10.0
icalendar==3.10
ipdb==0.8
ipython==3.1.0
mysql-python==1.2.3
pyreadline==2.0
python-dateutil==2.5.3
pytz==2016.4
requests==2.24.0
six==1.10.0
sqlparse==0.1.15
yolk==0.4.3
