.idea/*

local_settings.py
*.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
Unify-v1.9.4/
*.sqlite3
sophia_start.bat

# C extensions
*.so

#Local use
media/
*.psd

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/