{% extends 'base.html' %}
{% load static %}

{% block headtitle %}
404 Page not found | Sophia Hsiao Studio
{% endblock %}

{% block headloaders %}
<link rel="stylesheet" href="{% static 'sophia/css/pages/page_404_error.css' %}">
{% endblock %}

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
      <!--Error Block-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="error-v1">
            <span class="error-v1-title">404</span>
            <span>That’s an error!</span>
            <p>The requested URL was not found on this server.</p>
            <a class="btn-u btn-bordered" href="{% url 'home' %}">Back Home</a>
          </div>
        </div>
      </div>
      <!--End Error Block-->
    </div>
    <!--=== End Content Part ===-->
{% endblock %}