{% extends 'base.html' %}
{% load static %}
{% block headtitle %}
Contact Us
{% endblock %}

{% block headloaders %}
<link rel="stylesheet" href="{% static 'sophia/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'sophia/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
<link rel="stylesheet" href="{% static 'sophia/plugins/ladda-buttons/css/custom-lada-btn.css' %}">
<link rel="stylesheet" href="{% static 'sophia/css/pages/page_contact.css' %}">
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Contact Us</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active">Contact Us</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<!-- Google Map -->
<div id="map" class="map">
</div><!---/map-->
<!-- End Google Map -->
<div class="container content">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
  <div class="row margin-bottom-30">
    <div class="col-md-9 mb-margin-bottom-30">
      <div class="headline"><h2>Contact Form</h2></div>
      <p>Whether you have an inquiry or just want to drop us a line, 
        we'd love to hear from you! Simply fill out the form
        below with some basic info to send us a message.</p>
      <div class="tag-box tag-box-v2">
        <p>Wanting to schedule a free trial lesson? Check out our <a href="{% url 'schedule_trial_lesson' %}">scheduling page</a>. It lets you know what our
          available time slots are and makes scheduling
          a cinch! <br><br>
          Don't see a time that works there? Let us know what time
          would work better here and we'll try to make it work!</p>
      </div>

          <form method="post" id="sky-form3" class="sky-form sky-changes-3">
            {% csrf_token %}
            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="label">{{form.name.label}}</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    {{form.name}}
                  </label>
                  {% if form.name.errors %}
                    {% for error in form.name.errors %}
                      <em for="name" class="alert-danger">{{error}}</em>
                    {% endfor %}
                  {% endif %}
                </section>
                <section class="col col-6">
                  <label class="label">{{form.email.label}}</label>
                  <label class="input">
                    <i class="icon-append fa fa-envelope-o"></i>
                    {{form.email}}
                  </label>
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      <em for="email" class="alert-danger">{{error}}</em>
                    {% endfor %}
                  {% endif %}
                </section>
              </div>

              <section>
                <label class="label">{{form.subject.label}}</label>
                <label class="input">
                  {{form.subject}}
                  <i class="icon-append fa fa-tag"></i>
                </label>
                {% if form.subject.errors %}
                  {% for error in form.subject.errors %}
                    <em for="subject" class="alert-danger">{{error}}</em>
                  {% endfor %}
                {% endif %}
              </section>

              <section>
                <label class="label">{{form.message.label}}</label>
                <label class="textarea">
                  <i class="icon-append fa fa-comment" style="border-bottom-width:1px; border-bottom-style:solid;"></i>
                  {{form.message}}
                </label>
                {% if form.message.errors %}
                  {% for error in form.message.errors %}
                    <em for="message" class="alert-danger">{{error}}</em>
                  {% endfor %}
                {% endif %}
              </section>

              <section>
                <label class="label">Enter characters below:</label>
                <label class="input input-captcha">
                  {{form.captcha}}
                </label>
                {% if form.captcha.errors %}
                  {% for error in form.captcha.errors %}
                    <em for="captcha" class="alert-danger">{{error}}</em>
                  {% endfor %}
                {% endif %}
              </section>

              <section>
                <label class="checkbox">{{form.copy_email}}<i></i>
                  <p class="form-font">{{form.copy_email.label}}</p>
                </label>
              </section>
            </fieldset>

            <footer>
              <div class="ladda-btn">
                <button type="submit" class="btn-u btn-u-primary ladda-button" data-style="zoom-out">Send message</button>
              </div>
            </footer>

          </form>
    </div><!--/col-md-9-->

    <div class="col-md-3">
      <!-- Contacts -->
      <div class="headline"><h2>Where we are</h2></div>
      <p>Since violin lessons are held in our home, the map above shows our approximate
        location.
      </p>
      <p>
        Should you decide to schedule lessons, our address will be provided
        to you. 
      </p>
      <p>
        We apologize for any inconvenience this may cause.
      </p>

    </div><!--/col-md-3-->
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block endloaders %}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{% static 'sophia/plugins/gmap/gmap.js' %}"></script>
  <script type="text/javascript" src="{% static 'sophia/js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'sophia/js/page_contacts.js' %}"></script>
  <script src="{% static 'sophia/plugins/ladda-buttons/js/spin.min.js'%}"></script>
  <script src="{% static 'sophia/plugins/ladda-buttons/js/ladda.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'sophia/js/plugins/ladda-buttons.js' %}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      App.init();
      ContactPage.initMap();
    });
  </script>
{% endblock %}