{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block headtitle %}
Sophia Hsiao Studio - Private Violin Lessons in Arlington Heights
{% endblock %}

{% block headloaders %}
    <link rel="stylesheet" href="{% static 'sophia/plugins/revolution-slider/rs-plugin/css/settings.css' %}" type="text/css" media="screen">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->
{% endblock %}

{% block meta %}
  <meta name="description" content="Sophia Hsiao Studio provides private violin lessons for children and adults using the Suzuki method in Arlington Heights.">
{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'sophia/DSC_0240.jpg' %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"                        
                        data-endspeed="300">
                        Sophia Hsiao Violin Studio
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="190"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Providing private violin lessons for all ages <br/>
                        in Arlington Heights, IL
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="310"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <a href="{% url 'bio' %}" class="btn-u btn-brd btn-brd-hover btn-u-light">About Sophia</a>
                        <a href="{% url 'schedule_trial_lesson' %}" class="btn-u">Schedule a free violin lesson</a>
                    </div>
                </li>
                <!-- END SLIDE -->

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->
    
    <!--=== Service Block ===-->
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 content-boxes-v6">
                <i class="rounded-x fa fa-home"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">Comfortable Environment</h2>
                <p>We strive to provide a welcoming space for students to learn
                  at their own pace. Violin lessons are conducted out of our home in Arlington Heights, IL. We are minutes away from Schaumburg, Mount Prospect, and Elk Grove Village.</p>
            </div>
            <div class="col-md-4 content-boxes-v6">
                <i class="rounded-x fa fa-music"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">Suzuki Method</h2>
                <p>We employ the <a target="_blank" href="https://suzukiassociation.org/about/suzuki-method/">Suzuki method</a> of teaching in our violin lessons, which emphasizes hands on learning, comfort with the instrument, and parental involvement with children. From child to adult, we believe anyone can learn the violin. Whether you're a beginner or more advanced, our violin lessons are catered towards achieving your musical goals.</p>
            </div>
            <div class="col-md-4 content-boxes-v6">
                <i class="rounded-x fa fa-gift"></i>
                <h1 class="title-v3-md text-uppercase margin-bottom-10">Free Trial Violin Lesson</h1>
                <p>We offer a free, thirty minute, trial violin lesson to help you see if we are the right violin studio for you. If, after the trial violin lesson, you decide not to continue with us, there's absolutely no obligation. <a href="{% url 'schedule_trial_lesson' %}">Schedule your free trial violin lesson today</a>!</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Service Block ===-->

    <div class="bg-color-light">

      <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
          <h2>Recent Posts</h2>
          <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
          <p>For everything from practicing tips to news from the studio and anything in between, check out our blog!</p>
        </div><!--/Headline Center V2-->

        <div class="row">
          {% for post in recent_posts %}
          <div class="col-sm-4">
            <div class="thumbnails-v1">
              <div class="thumbnail-img">
                <a href="{% url 'blog_entry' post.id %}"><img class="img-responsive" src="{{post.main_image|thumbnail_url:'blog_thumb'}}" alt=""></a>
              </div>
              <div class="caption">
                <h3><a href="{% url 'blog_entry' post.id %}">{{post.title}}</a></h3>
                <p>{{post.content|safe|truncatewords_html:50}}</p>
                <p><a class="read-more" href="{% url 'blog_entry' post.id %}">See More</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!--/container-->
    </div>
      <!--=== End Recent Posts ===-->


      {% if testimonials %}
      <!--=== Testimonials Section ===-->
      <div class="service-info">
        <div class="container content-md">
          <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>WHAT PEOPLE SAY</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>Here is what actual students and parents of students say about
              violin lessons with Sophia.<br>
              Want to see more? Check out our <a href="{% url 'testimonials' %}">Testimonial Page</a>
            </p>
          </div><!--/Headline Center v2-->
          
          {% for testimonial in testimonials %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row margin-bottom-50">
            {% endif %}

              <div class="col-sm-6">
                <div class="testimonials-v4 md-margin-bottom-50">
                  <div class="testimonials-v4-in">
                    <p>{{testimonial.text}}</p>
                  </div>
                  <span class="testimonials-author">
                    {{testimonial.client_name}}<br>
                    <em>With Sophia Hsiao Studio {% if not testimonial.end_year %}since{% else %}from{% endif %} {{testimonial.start_year}}{% if testimonial.end_year %} to {{testimonial.end_year}}{% endif %}</em>
                  </span>
                </div>
              </div>

            {% if forloop.counter|divisibleby:2 %}
            </div>
            {% elif forllop.last %}
            </div>
            {% endif %}
          {% endfor %}

        </div><!--/end container-->
      </div>
        <!--=== End Section ===-->
      {% endif %}

{% endblock %}

{% block scriptloaders %}
<script type="text/javascript" src="{% static 'sophia/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sophia/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sophia/js/plugins/revolution-slider.js' %}"></script>
{% endblock %}

{% block endloaders %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        RevolutionSlider.initRSfullWidth();
    });
</script>
{% endblock %}