{% extends 'base.html' %}
{% load static %}
{% block headtitle %}
Studio Policy | Sophia Hsiao Studio
{% endblock %}
{% block meta %}
  <meta name="description" content="Sophia Hsiao's studio policy for violin students, parents, and her as a violin teacher.">
{% endblock %}
{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Studio Policy</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active">Studio Policy</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row-fluid">
    <p class="lead"><em>The following is what I ask my students and parents to commit to as part of our violin lessons and what I am committed to providing the student and parent.</em></p>
    <h4><em>Teacher Commitments</em></h4>
    <ul>
      <li>Punctual with the lesson times and will come prepared to violin lessons.</li>
      <li>Use appropriate exercises and suggestions to improve technique, musicianship, and performance.</li>
      <li>Seek to build a relationship with each student and family knowing how crucial that is to the learning process.</li>
      <li>Observe and adapt to the different way each student learns.</li>
      <li>Honestly communicate with the student (and/or parent if applicable) how the student is progressing in their violin lessons.</li>
      <li>Continue to pursue growth in teaching skills and knowledge through reading books, online resources, and attending workshops and conferences.</li>
    </ul>


    <h4><em>Student Commitments</em></h4>
    <ul>
      <li>Arriving on time and coming prepared to violin lessons with instrument and books.</li>
      <li>Committed to regular practice at least 5-7 days a week, as it is essential to any musical growth.</li>
      <li>The time required for practice depends heavily on the age and ability of the student and will therefore be discussed with the student on a case by case basis.</li>
    </ul>

    <h4><em>Parental Commitments (if applicable)</em></h4>
    <ul>
      <li>For students ages 4-6, parents are welcome to sit in the violin lesson during the first few weeks. After this time period it is recommended that the parent sit out so that their child can learn to take responsibility for their learning and start to build a relationship with the teacher.</li>
      <li>Committed to being involved with home practice and helping your child foster daily practice rhythms.</li>
      <li>Responsible for renting or purchasing an instrument for their child so that one is available for violin lessons and practice.</li>
      <li>Responsible for purchasing books or accessories that are necessary for their child to learn.</li>
    </ul>

    <h4><em>Private Violin Lesson Policy</em></h4>
    <ul>
      <li>Private lessons focus on technique, music theory, and musicianship.</li>
      <li>Lesson notebooks are required for each student and cost $6. Students will use the notebook to write down what they should be practicing during the week.</li>
      <li>Monthly invoices are due by the first lesson of the month. There is a $10 late fee if payment is not received within 7 days of the first lesson.</li>
      <li>Checks or Chase Quick Pay electronic payments are acceptable.</li>
      <li>The student and/or parent will be notified when the student needs to purchase new music books or accessories.</li>
      <li>Lesson rates cover the lesson time, recital and studio fees, and resources that are required to prepare for lessons. Please contact Sophia Hsiao Studio for our current lesson rates.</li>
    </ul>

    <h4><em>Cancellation Policy</em></h4>
    <ul>
      <li>Cancellations must be made at least 24 hours prior to the scheduled lesson. Make up lessons will be offered and scheduled within 1-2 weeks.</li>
      <li>For cancellations made less than 24 hours before the lesson, payment is required unless the student is sick or there is a last minute emergency. </li>
      <li>Payment is required for missed lessons and that includes forgetfulness, failure to notify me that you can’t come to your lesson, or scheduling conflicts that could have been avoided.</li>
      <li>Any lessons cancelled due to the teacher’s schedule will be rescheduled as soon as possible.</li>
    </ul>

    <h4><em>Termination Policy</em></h4>
    <ul>
      <li>The teacher may terminate lessons due to poor behavior, failure to commit to practice, or failure to comply with the contents of the studio policy.</li>
      <li>If the parent and student wish to terminate lessons, they must communicate this with the teacher two weeks before the desired end date so that appropriate steps can be taken.</li>
    </ul>

    <h4><em>Recital Policy</em></h4>
    <ul>
      <li>Recitals are held twice a year in the Fall and Spring to celebrate the hard work that students have put into lessons. Participation is expected in order to get the full experience of learning and performing music.</li>
      <li>More information about the recitals will be announced 1-2 months in advance.</li>
    </ul>
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}