{% extends 'base.html' %}
{% load static %}
{% block headtitle %}
Calendar | Sophia Hsiao Studio
{% endblock %}
{% block meta %}
  <meta name="description" content="">
{% endblock %}

{% block headloaders %}
<link rel="stylesheet" href="{% static 'sophia/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'sophia/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'sophia/css/pages/shortcode_timeline2.css' %}">
<link rel="stylesheet" href="{% static 'sophia/fullcalendar-3.0.1/fullcalendar.css' %}">
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-12" id='calendar'>
    
    </div>
  </div>
</div>

<!-- update modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id='update-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="update-modal-title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id='update-modal-content' class='alert alert-info'></div>
        <button class="btn-u btn-success" id="complete-lesson">Complete Lesson</button>
        <button class="btn btn-warning" id="reschedule-lesson">Reschedule Lesson</button>
        <button class="btn btn-u-default" id="cancel-lesson">Cancel Lesson</button>
        <hr>
        <button class="btn btn-default" id="clear-lesson">Clear</button>
        <button class="btn btn-danger pull-right" id="delete-lesson">Delete Lesson</button>
      </div>
    </div>
  </div>
</div>

<!-- create new modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id='create-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="create-modal-title" class="modal-title">Create new lesson</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form method="post" id="create-form" class="sky-form sky-changes-3">
              {% csrf_token %}
              <fieldset>
                <div class="row">
                  {{form.start_string}}
                  {{form.end_string}}
                  <section class="col col-9">
                    <label class="label">Student</label>
                    <label class="select">
                      {{form.student}}
                    </label>
                  </section>
                </div>
                <div class="modal-footer">
                  <section class="pull-right">
                    <div class="ladda-btn">
                      <button type="button" class="btn-u btn-u-default ladda-button" data-dismiss="modal">Cancel</button>
                      <button id="create-button" type="submit" class="btn-u btn-u-primary ladda-button" data-style="zoom-out">Submit</button>
                    </div>
                  </section>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endloaders %}
<script src="{% static 'sophia/fullcalendar-3.0.1/moment.js' %}"></script>
<script src="{% static 'sophia/fullcalendar-3.0.1/fullcalendar.min.js' %}"></script>
<script src="{% static 'sophia/js/js.cookie.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      App.init();
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      $('#complete-lesson').click(function(){
        var lesson_pk = $(this).data('lesson-pk');
        d = new Date();
        $.ajax({
          url: "/api/scheduled_lessons/" + lesson_pk + '/',
          type: 'PATCH',
          data: {
            'completed_on': d.toISOString(),
            'rescheduled_on': null,
            'cancelled_on': null
          },
          success: function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#update-modal').modal('toggle');
          }
        })

      });

      $('#reschedule-lesson').click(function(){
        var lesson_pk = $(this).data('lesson-pk');
        d = new Date();
        $.ajax({
          url: "/api/scheduled_lessons/" + lesson_pk + '/',
          type: 'PATCH',
          data: {
            'rescheduled_on': d.toISOString(),
            'completed_on': null,
            'cancelled_on': null
          },
          success: function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#update-modal').modal('toggle');
          }
        })
      });

      $('#cancel-lesson').click(function(){
        var lesson_pk = $(this).data('lesson-pk');
        d = new Date();
        $.ajax({
          url: "/api/scheduled_lessons/" + lesson_pk + '/',
          type: 'PATCH',
          data: {
            'cancelled_on': d.toISOString(),
            'completed_on': null,
            'rescheduled_on': null
          },
          success: function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#update-modal').modal('toggle');
          }
        })
      });

      $('#clear-lesson').click(function(){
        var lesson_pk = $(this).data('lesson-pk');

        $.ajax({
          url: "/api/scheduled_lessons/" + lesson_pk + '/',
          type: 'PATCH',
          data: {
            'cancelled_on': null,
            'completed_on': null,
            'rescheduled_on': null
          },
          success: function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#update-modal').modal('toggle');
          }
        })
      });

      $('#delete-lesson').click(function(){
        var lesson_pk = $(this).data('lesson-pk');
        $.ajax({
          url: "/api/scheduled_lessons/" + lesson_pk + '/',
          type: 'DELETE',
          success: function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#update-modal').modal('toggle');
          }
        })
      });

      $('#create-form').submit(function(e){
        e.preventDefault();
        var data = $(this).serialize();
        $.post("/api/scheduled_lessons/", data,
          function(){
            $('#calendar').fullCalendar('refetchEvents');
            $('#create-modal').modal('toggle');
          }
        );

      })

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next generateLessons',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        allDaySlot: false,
        defaultView: 'agendaWeek',
        selectable: true,
        navLinks: true,
        events: "{% url 'scheduledlesson-list'%}",
        slotDuration: '00:05:00',
        editable: true,
        minTime: '10:00:00',
        maxTime: '21:00:00',
        customButtons: {
            generateLessons: {
                text: 'Create Lessons',
                click: function() {
                    var view = $('#calendar').fullCalendar('getView');
                    $.post('/api/scheduled_lessons/bulk_generate/', {
                      'action': 'generate',
                      'start_string': view.start.toISOString(),
                      'end_string': view.end.toISOString()
                    },
                    function(){
                      $('#calendar').fullCalendar('refetchEvents');
                    })
                }
            }
        },
        select: function(start, end) {
          $('#id_start_string').val(start.toISOString());
          $('#id_end_string').val(end.toISOString());
          $('#create-modal-title').html(
            'Create new lesson from ' + start.format("hh:mm a") + ' to ' + end.format("hh:mm a")
          );
          $('#create-modal').modal('toggle');
        },
        eventClick: function(event, element) {
          if (event.pk){
              // Display the update modal
              $('#update-modal-title').html(
                event.title + ' - ' + event.day + ', ' + event.date
              );
              var update_modal_message;
              if (!event.is_reschedule){
                $('#delete-lesson').prop('disabled', true);
                update_modal_message = 'This is the <b>original lesson time</b> for the student!';
              } else {
                $('#delete-lesson').prop('disabled', false);
                update_modal_message = 'This is a <b>make up lesson</b> for the student!';
              };
              $('#update-modal-content').html(update_modal_message);


              $('#complete-lesson').data('lesson-pk', event.pk);
              $('#cancel-lesson').data('lesson-pk', event.pk);
              $('#clear-lesson').data('lesson-pk', event.pk);
              $('#reschedule-lesson').data('lesson-pk', event.pk);
              $('#delete-lesson').data('lesson-pk', event.pk);
              $('#update-modal').modal('toggle');

          }
          // $('#calendar').fullCalendar('refetchEvents');
        },
        eventDrop: function(event, delta){
          $.ajax({
            url: "/api/scheduled_lessons/" + event.pk + '/',
            type: 'PATCH',
            data: {
              'start_string': event.start.toISOString(),
              'end_string': event.end.toISOString(),
            },
            success: function(){
              $('#calendar').fullCalendar('refetchEvents');
            }
          })
        },
        eventResize: function(event, delta){
          $.ajax({
            url: "/api/scheduled_lessons/" + event.pk + '/',
            type: 'PATCH',
            data: {
              'start_string': event.start.toISOString(),
              'end_string': event.end.toISOString(),
            },
            success: function(){
              $('#calendar').fullCalendar('refetchEvents');
            }
          })
        }
      });

    })
</script>
{% endblock %}